* {
  box-sizing: border-box;
}

body {
  background-color: white;
  margin: 0;
  font-family: 'Lexend Exa', sans-serif;
}

nav a {
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  transition: all 0.35s linear;

}

ul {
  list-style: none;
  margin: 0;
  padding: 0;

}

#header {
  height: 60px;
  width: 100%;
  background: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
  position: fixed;
 }

#main-navigation {
  display: none;

}

#burger {
  background: transparent;
  border: none;
}

#hero {
  background-image: url(img/intro.jpg);
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#hero p {
  color: white;

}

#hero h1 {
  color: white;
}

.button {
  color: #374a67;
  background: white;
  border: 2px #374a67 solid;
  text-decoration: none;
  padding: 1rem;
  text-transform: uppercase;
  border-radius: 4px;
  transition: 1s linear;
  margin-top: 1rem;
  display: inline-block;
  margin: 1rem;
}

.button:hover {
  color: white;
  background: #374a67;
}

.card {
  text-align: center;
  border: 2px solid #828282;
  border-radius: 4px;
  margin: 1rem;
  box-shadow: -webkit-box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  margin: 1rem;
}

.card a {
  color: black;
  text-decoration: none;
}

.card p a {
  color: #828282;
}

.card p {
  margin: 1rem;
}

.card img {
  width: 100%;
}

.card .button {
  background-color: #374a67;
  color: white;
  display: block;
}

.card .button:hover {
  background: white;
  color: #374a67;
  transition: 1s;
  border-color: #374a67;
}

#rezepte {
  text-align: center;
}

.sidebar {
  background-color: #04122b;
  color: white;
  text-align: center;
  padding: 2rem 1rem;
}

.email {
  padding: 1rem;
  border-radius: 4px;
  border: 1px;
  solid #04122b;
}

.newsletter .button {
  margin-left: -4px;
}


#social-nav ul{
    display: flex;
    font-size: 2rem;
  }

footer{
  min-height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#footer-nav{
  text-align: center;
  line-height: 1.5;
}

#social-nav ul li{
  padding: 2rem;
}

#main-navigation.show{
  display: block;
  position: absolute;
  top: 60px;
  left: 0;
  background: white;
  width: 100%;
  text-align: center;
  height: calc(100vh - 60px);
  padding: 3rem 0;
  line-height: 3rem;
}

.overflow{
  overflow: hidden;
}


@media (min-width: 960px) {
  #main-navigation {
    display: block;

  }


  #burger {
    display: none;
  }

  #main-navigation ul {
    display: flex;

  }

  nav li {
    margin-left: 1rem;
    margin-right: 1rem;

  }

  nav li:last-child {
    margin-right: 0;
  }

  nav a:hover {
    color: #39b33f;
    background: #f07aec;
  }

  .row {
    display: flex;
    padding: 1rem;

  }

  #footer-nav ul{
    display: flex;
  }

  footer{
    display: flex;
    justify-content:space-between;
    align-items: center;
    flex-direction: row;
  }
}
